/nbproject/private/
/build/
/EGit/build/
/mockito-core-2.0.9-beta-javadoc/nbproject/private/
/Mockito/nbproject/private/
/Mockito/build/
/byte-buddy/build/
/PowerMock/nbproject/private/
/PowerMock/build/